.light {
    .btn-danger {
        color: #fff;
        background-color: $red;
        border-color: #C73120;
    }
    .btn-primary {
        color: #fff;
        background-color: $pink;
        border-color: $pink;
    }

    .btn-primary:focus, .btn-primary:hover {
        background-color: rgb(245, 75, 103);
        border-color: rgb(245, 75, 103);
    }

    input:focus, select:focus, textarea:focus{
        box-shadow: 0 0 0 0.15rem #cdc9f863;
    }
}