.edit-profil{
    form{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px;
        .input-image-cover,.input-profil-image{
            width:100%;
            object-fit: cover;
            height: 265px;
            border-radius: 10px;
        }  
    }
}