$primary-color: #C73120;
$secondary-color: #303131;
$hover-color: #FA3D28; 
$bg-color: #E1E1E1;


// $light : #F1F0F0;
$light : #F8F9FA;
$dark : black;
$grey-dark : #827e7e66;
$grey-light : #bcbcbc;
$red : #C73120;
$pink : #eb6161;
$blue : #6b5bf5;
$green: #b6eb61;
// $light-bg : $light;
$light-bg: #F8F9FA;
$dark-bg : $dark;


